# Martin - variaveis de ambiente
# Banco PostgreSQL/PostGIS externo informado via ENV.

DB_NAME=geoframe
DB_USER=geoframe_adm
DB_PASSWORD=
DB_HOST=lpostdes14.procempa.com.br
DB_PORT=6000
DB_SCHEMA=smftest

MARTIN_LISTEN_ADDRESSES=0.0.0.0:3000
MARTIN_DEFAULT_SRID=4326
MARTIN_AUTO_PUBLISH_TABLES=true
